<div class="row" style="text-align:center!important">
  <div class="col-12">
    <h3>Manage <span style="color: royalblue">Campaigns</span></h3>
  </div>
</div>

<br/>

<br/>
<br/>

<div class="row" style="text-align:center!important">
    <div class="col-1"></div>
    <div class="col-10">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link  btn-margin-left btn-margin-right" (click)="changeList('upcoming')" [ngClass]="{'active': upcoming}">UPCOMING CAMPAIGNS</a>
        <a class="nav-item nav-link btn-margin-left btn-margin-right" (click)="changeList('live')" [ngClass]="{'active': live}">LIVE CAMPAIGNS</a>
        <a class="nav-item nav-link btn-margin-left btn-margin-right" (click)="changeList('past')" [ngClass]="{'active': past}">PAST CAMPAIGNS</a>
      </nav>
    </div>
    <div class="col-1"></div>
</div>

<br/>

<br/>
<br/>


<div class="row">

  <div class="col-10">
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Campaign Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data"> 
          <th scope="row">{{item.date | date: 'yyyy-MM-dd'}}</th>
          <td>{{item.campaignName}}</td>
          <td>{{item.price | currency}}</td>
          <td>
            <div class="row">
              <div class="col-3">
                <span><i class="fas fa-file-csv">
                  
                </i><br/>CSV</span>
              </div>
              <div class="col-3">
                <span><i class="fas fa-signal"></i>
                  <br/>Report</span>
              </div>
              <div class="col-6 "> 
                    <p-calendar [showIcon]="true" [minDate]="dateTime" (onSelect)="scheduleAgain($event,item)">
                    </p-calendar>
                    <br/>Reschedule
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>

</div>